* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #D4E1E5;
  color: #252933;
}

button {
  cursor: pointer;
  transition: background-color 0.2s, fill 0.2s, color 0.2s;
}

button:hover, button:active {
  transition: background-color 0.2s, fill 0.2s, color 0.2s;
}

button:focus {
  outline: 2px solid #166ab3;
}

.primary-btn {
  background-color: #17c7a4;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 40px;
  border-radius: 10px;
}

.primary-btn:hover {
  background-color: #16b394;
}

.primary-btn:active {
  transform: scale(0.98);
}

.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: #EDEDED;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-text-btn {
  height: 40px;
  border-radius: 12px;
  background-color: #EDEDED;
  border: none;
  padding: 0 20px;
}


.icon-btn:hover, .icon-text-btn:hover {
  background-color: #dfdfdf;
}

.icon-btn:active, .icon-text-btn:active {
  transform: scale(0.96);
}

.container {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

.loader {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 40px 0;
}

.error {
  width: 100%;
  border-radius: 10px;
  font-size: 18px;
  color: rgb(182, 35, 35);
  background-color: #f0f0f0;
  text-align: center;
  padding: 40px 0;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    padding: 24px;
  }
}