.book-page .back-btn {
  margin: 40px 0 20px;
}

.book-detail {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 40px;
  position: relative;
}

.book-detail h1 {
  margin-bottom: 24px;
  width: calc(100% - 100px);
}

.book-detail__table td {
  padding-right: 30px;
  padding-bottom: 10px;
}

.book-detail__table td:first-child {
  font-weight: 700;
}

.book-detail .like-btn {
  position: absolute;
  top: 20px;
  right: 30px;
}

.book-detail .edit-btn {
  position: absolute;
  top: 20px;
  right: 130px;
}

.book-detail .delete-btn {
  position: absolute;
  top: 20px;
  right: 80px;
}